<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TINY URL</title>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="display-2">MINI.URL</h1>
        <form method="post" class="m-3">
            {% csrf_token %}
            <div class="row container-fluid">
                <div class="col-md-11">
                    {{ form.as_p }}
                </div>
                <div class="col-md-1">
                    <button type="submit" id='submit' class="btn btn-primary">Submit</button>
                </div>
            </div><hr>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr>
                        <th>S.No</th>
                        <th>Long URL</th>
                        <th>Short URL</th>
                    </tr>
                    
                    {% for link in object_list reversed %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ link.long_url }}" class="text-white">{{ link.long_url }}</a></td>
                            <td><a href="https://minilinki.herokuapp.com/{{ link.short_url }}" class="text-white" id='tiny_url'>https://minilinki.com/{{ link.short_url }}</a> <ion-icon name="copy-outline"></ion-icon> <span class='copied d-none text-success'>Copied!</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('id_short_url').parentElement.style.display = 'none'
        document.getElementById('submit').addEventListener('click', () => {
            let long_url = document.getElementById('id_long_url').value
            document.getElementById('id_short_url').value = '{{ short_url_encode }}'
            if (!long_url.includes('https://')) {
                long_url = 'https://' + long_url
                document.getElementById('id_long_url').value = long_url   
            }
        })
        document.querySelectorAll('ion-icon').forEach(icon => {
            icon.addEventListener('mouseover', () => {
                icon.setAttribute('name', 'copy-sharp')
            })
            icon.addEventListener('mouseout', () => {
                icon.setAttribute('name', 'copy-outline')
            })
            icon.addEventListener('click', () => {
                /* Get the text field */
                let copyText = document.createElement("textarea")
                copyText.value = icon.parentElement.firstElementChild.getAttribute('href')

                document.body.appendChild(copyText)

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                /* Copy the text inside the text field */
                document.execCommand("copy");
                copyText.classList.add('d-none')
                icon.parentElement.children[2].classList.remove('d-none')
                setTimeout(() => {
                    icon.parentElement.children[2].classList.add('d-none')
                }, 3000)
            })
        })
    </script>
</body>
</html>